*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
#Landing {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/sean-pollock-PhYq704ffdA-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 10px;

}
.Landing-text{
    color: white;
}
.Landing-text h1 {
    font-size: 6rem;
    text-shadow: 3px 3px black;
}
#housecards{
    width: 300px;
    height: 400px;
    box-shadow: 5px 5px 5px 5px lightgrey;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#housecards:hover{
    background: lightslategray;
    color: white;
    box-shadow: 5px 5px 5px 5px lightgrey;
}
#housecards h3 {
    text-align: center;
}

#housecards img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px lightgray;
    margin-bottom: 20px;
}
#housecards img:hover {
    box-shadow: 5px 5px 5px 5px darkgray;
}

#house-values{
display: flex;
gap: 10px;
list-style: none;
}

#properties{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#form{
    display: flex;
    margin-inline: 15%;
    gap: 5px;
    padding: 30px;
    justify-content: center;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px 5px lightgray;
    border-radius: 10px;
}

.footer-text {
   color: white;
}

footer {
    background: lightslategray;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#displayListings{
    margin: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px lightgray;
}

td img{
    height: 100px;
}

#propertylist tr {
    margin-bottom: 10px;
}