*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Landing*/
#Landing{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;

}
  /* Search Section */
  #Listing{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
    
  }

  .row .col {
    border: 1px solid black;
    width: 100px;
    height: 100px;
  }

  .container {
    height: 60vh;
    margin: 20px;
    
  }

  .container h1 {
    font-size: 2.5rem;
  }

  .popular{
    border: 1px solid black;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 10px;
  }
  #output{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }

  #Search .container{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
  }
  .form{
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: row;
  }
  .form-item{
    display: flex;
    flex-direction: column;
    margin: 2px;
  }
  .form-group{
    height: 30px;
  }

  .form-group1{
    height: 30px;
    width: 150px;
  }

  #btn{
    height: 30px;
    width: 100px;
    margin-top: 21px;
  }

  #SearchBtn{
    margin: 5px;
    margin-right: 100px;
  }

  .nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
  }

  .nav-item{
    border: 1px solid black;
    margin: 1px;
  }
  .output3{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 200px;
    box-shadow: 10px 10px lightblue;
    border-style: none;
  }
  .output3 li{
    background-color: black;
    width: 20px;
    color: white;
    list-style: none;
    text-align: center;
  }
  .output3 h3{
    font-size: 1rem;
  }
  .footer1{
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: lightslategray;
  }
  .footer2{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightslategray;
  }
  .list{
    display: flex;
    justify-content: center;
  }
  ul li {
    border: 1px solid black;
    width: 100px;
    list-style: none;
  }

  #list-container{
    margin: 1px;
    
  }

  #output4{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 170px;
    margin-top: 10px;
    flex-direction: column;
  }
  .bar-item{
    display: flex;
  }

  #admin a {
    margin-right: 100px;
    text-decoration: none;
    color: white;
  }
  .Ratings{
    border: 1px solid black;
  }
  